a {text-decoration: none;}
a:link {color: #333333;} /* 未访问的链接 */
a:visited {color: #333333;} /* 已访问的链接 */
a:hover {color: #999999;} /* 鼠标在链接上 */
a:active {color: #999999;} /* 点击激活链接 */

body
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/default/bg.gif);
	SCROLLBAR-3DLIGHT-COLOR: #ffffff;
	SCROLLBAR-FACE-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #ffffff;
	SCROLLBAR-DARK-SHADOW-COLOR: #ffffff;
	SCROLLBAR-TRACK-COLOR: #ffffff;
}
TH {FONT-SIZE: 12px}
TD {
	FONT-SIZE: 12px;
	line-height: 20px;
}
SELECT {FONT-SIZE: 12px}
textarea{FONT-SIZE: 12px;border: 1px double #B4B4B4;}
A {	COLOR: #333333; TEXT-DECORATION: none; TEXT-TRANSFORM: none}
A:hover {COLOR: #ff6600; TEXT-DECORATION: underline}
.input
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	border: 1px solid #C7C7C7;
	background-color: #FFFFFF;
}
.pagestyle
{
	background-color: #FFFFFF;
	border: 1px solid #cccccc;
	height: 20px;
	width: 20px;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	clip: rect(0px,0px,0px,0px);
	/*font-family: Georgia, "Times New Roman", Times, serif;*/
	font-size: 12px;
	font-style: normal;
	/*font-weight: bold;*/
	font-variant: normal;
	color: #336699;
}
.td_lr
{
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CBCBCB;
	border-left-color: #CBCBCB;
}
.td_down
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CBCBCB;
}
.td_right
{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CBCBCB;
}
.td_topdown
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CBCBCB;
	border-bottom-color: #CBCBCB;
}
.td_four {
	border: 1px solid #E8E8E8;
}
.td_top {
	border-top: 1px solid #CBCBCB;
}
.td_lt {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: CBCBCB;
	border-left-color: CBCBCB;
}
input,select,textarea	{ font-family: Tahoma, Verdana; font-size: 9pt; color: #000000; font-weight: normal; background-color: #F8F8F8 }