<link href="../../css/style.css" rel="stylesheet" type="text/css">
<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="top">
    <td width="188" align="center">{PERCP}	</td>
    <td align="center"><table width="581" height="36"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="581" height="36" background="{IMGDIR}control/send.gif"></td>
      </tr>
    </table>
      <table width="581" height="36"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="581" align="center" valign="middle" background="{IMGDIR}control/center_bg.gif">
		  <table width="550" border="0" align="center" cellpadding="0" cellspacing="0" class="td_four">
			<tr>
              <td height="30" align="left">&nbsp;&nbsp;&nbsp;&nbsp;职位名称</td>
              <td align="center">招聘单位</td>
              <td align="center">回复</td>
              <td align="center">招聘时间</td>
              <td align="center">操作</td>
              <td align="center">已阅</td>
			</tr>
            <tr align="center">
              <td height="1" colspan="6">
			  <table width="95%" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td height="1" background="{IMGDIR}row.gif"></td>
              </tr>
              </table>
			  </td>
            </tr>
			<!-- BEGIN sendlist -->
            <tr align="center">
              <td height="30" align="left">&nbsp;&nbsp;&nbsp;&nbsp;<a href="{INFOURL}" target="_blank">{JOBNAME}</a></td>
              <td height="30"><a href="view.php?action=company&info={SENDLINK}" target="_blank">{COMPANY}</a></td>
              <td height="30"><font color="#ff0000">{RESENDNUM}</font></td>
              <td height="30">{ADDTIME}</td>
              <td height="30"><a href="view.php?action=reciverinfo&info={MAILID}" target="_blank">查看</a></td>
              <td>{READ}</td>
            </tr>
            <tr align="center">
              <td height="1" colspan="6">
			  <table width="95%" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td height="1" background="{IMGDIR}row.gif"></td>
              </tr>
              </table>
			  </td>
            </tr>
			<!-- END sendlist -->

            <tr align="center">
              <td height="30" colspan="6">{PAGELIST}</td>
              </tr>
            <tr>
              <td height="10" colspan="6"></td>
            </tr>
          </table>
		  </td>
        </tr>
      </table>
      <table width="581" height="15"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="581" height="15" background="{IMGDIR}control/center_down.gif"></td>
        </tr>
      </table></td>
  </tr>
</table>
