<!---new job start--->
<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="top">
    <td align="center">
	<table width="581" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="581" height="36" align="right" background="{IMGDIR}/job/center_top.gif">&nbsp;</td>
      </tr>
      <tr>
        <td align="center" background="{IMGDIR}/job/center_bg.gif"><table width="550"  border="0" cellpadding="0" cellspacing="0" class="td_four">
          <tr bgcolor="#f8f8f8">
            <td height="25" align="center">USER</td>
            <td height="25" align="center">IP</td>
            <td height="25" align="center">TAKE</td>
            <td height="25" align="center">TIME</td>
          </tr>
          <!-- BEGIN online -->
          <tr>
            <td height="25" align="center">{SESSUSER}</td>
            <td height="25" align="center">{SESSIP}</td>
            <td height="25" align="center">{SESSTAKE}</td>
            <td height="25" align="center">{SESSTIME}</td>
          </tr>
          <tr>
            <td height="1" colspan="4"><table width="97%"  border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td background="{IMGDIR}row.gif" height="1"></td>
                </tr>
            </table></td>
          </tr>
          <!-- END online -->
          <tr align="center" valign="middle">
            <td height="5" colspan="4"></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="30">{PAGELIST}</td>
      </tr>
    </table>
	</td>
  </tr>
</table>
<!---new job end--->
<!---new find start--->
<!---new find end--->
