<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="top">
    <td width="188" align="center">
	  <table width="188"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="188" height="37" align="center" background="{IMGDIR}small_top.gif">用户信息</td>
        </tr>
        <tr>
          <td align="center" background="{IMGDIR}small_bg.gif">{USERINFO}</td>
        </tr>
        <tr>
          <td align="center"><img src="{IMGDIR}small_down.gif" width="188" height="11"></td>
        </tr>
        <tr>
          <td width="188" height="37" align="center" background="{IMGDIR}small_top.gif">人才查询</td>
        </tr>
        <tr>
          <td align="center" background="{IMGDIR}small_bg.gif"><table border="0" align="center" cellpadding="0" cellspacing="1">
            <form action="search.php" method="post">
              <tr>
                <td align="center">时间</td>
                <td>&nbsp;
                    <select name="addtime" id="sex" class="input">
                      {SELECT_TIME}
                  </select></td>
              </tr>
              <tr>
                <td colspan="2" align="center" background="images/xixian_line.gif"></td>
              </tr>
              <tr>
                <td align="center">性别</td>
                <td>&nbsp;
                    <select name="sex" id="sex" class="input">
                      {SELECT_SEX}
                  </select></td>
              </tr>
              <tr>
                <td colspan="2" align="center" background="images/xixian_line.gif"></td>
              </tr>
              <tr>
                <td align="center">学历</td>
                <td>&nbsp;
                    <select name="edu" class="input" id="edu">
                      {SELECT_EDU}
                  </select></td>
              </tr>
              <tr>
                <td colspan="2" align="center" background="images/xixian_line.gif"></td>
              </tr>
              <tr>
                <td align="center">职位</td>
                <td>&nbsp;
                    <input name="job" type="text" id="job" size="10" class="input"></td>
              </tr>
              <tr>
                <td align="center">专业</td>
                <td>&nbsp;
                    <input name="zhuanyename" type="text" id="zhuanyename" size="10" class="input"></td>
              </tr>
              <tr>
                <td colspan="2" align="center" background="images/xixian_line.gif"></td>
              </tr>
              <tr>
                <td align="center">学校</td>
                <td>&nbsp;
                    <input name="graedu" type="text" id="graedu" size="10" class="input"></td>
              </tr>
              <tr>
                <td colspan="2" align="center" background="images/xixian_line.gif"></td>
              </tr>
              <tr align="center">
                <td colspan="2"><input name="submit_find" type="submit" class="input" id="search_find" value=" 提交查询 "></td>
              </tr>
            </form>
          </table></td>
        </tr>
        <tr>
          <td align="center"><img src="{IMGDIR}small_down.gif" width="188" height="11"></td>
        </tr>
        <tr>
          <td width="188" height="37" align="center" background="{IMGDIR}small_top.gif">最新简历</td>
        </tr>
        <tr>
          <td align="center" background="{IMGDIR}small_bg.gif"><table width="125" border="0" cellspacing="0" cellpadding="0">
            <!-- BEGIN personal -->
            <tr>
              <td height="24">[<a href="{PERSONAL_LINK}" target="_blank">{PERSONAL}</a>]&nbsp;&nbsp;{SEX}</td>
            </tr>
            <tr>
              <td height="1" background="{IMGDIR}/row.gif"></td>
            </tr>
            <!-- END personal -->
            <tr>
              <td height="5"></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td align="center"><img src="{IMGDIR}small_down.gif" width="188" height="11"></td>
        </tr>
        <tr>
          <td width="188" height="37" align="center" background="{IMGDIR}small_top.gif">相关链接</td>
        </tr>
        <tr>
          <td align="center" background="{IMGDIR}small_bg.gif">&nbsp;</td>
        </tr>
        <tr>
          <td align="center"><img src="{IMGDIR}small_down.gif" width="188" height="11"></td>
        </tr>
      </table></td>
    <td align="center"><table width="581" height="36"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="581" height="36" background="{IMGDIR}control/jobtype.gif"></td>
      </tr>
    </table>
      <table width="581" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="581" align="center" valign="top" background="{IMGDIR}job/center_bg.gif"><table width="550"  border="0" cellpadding="5" cellspacing="0" class="td_four">
              <tr bgcolor="#f8f8f8">
                <td align="left">{JOBTYPE_LIST}</td>
              </tr>
          </table></td>
        </tr>
      </table>
      <table width="581" height="15"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="581" height="15" background="{IMGDIR}job/center_down.gif"></td>
        </tr>
      </table>
      <table width="581" height="36"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="581" height="36" background="{IMGDIR}find/center_top.gif"></td>
      </tr>
    </table>
      <table width="581" height="36"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="581" align="center" valign="top" background="{IMGDIR}find/center_bg.gif"><table width="550"  border="0" cellpadding="0" cellspacing="0" class="td_four">
            <tr bgcolor="#f8f8f8">
              <td height="25" align="center">职位名称</td>
              <td height="25" align="center">姓名</td>
              <td height="25" align="center">性别</td>
              <td height="25" align="center">出生年月</td>
              <td align="center">学历</td>
              <td height="25" align="center">发布时间</td>
            </tr>
			<!-- BEGIN findlist -->
            <tr>
              <td height="25" align="center">{JOB}</td>
              <td height="25" align="center"><a href="view.php?action=personal&info={LINKPER}" target="_blank">{TRUENAME}</a></td>
              <td height="25" align="center">{SEX}</td>
              <td height="25" align="center">{BIRTH}</td>
              <td height="25" align="center">{EDU}</td>
              <td height="25" align="center">{ADDTIME}</td>
            </tr>
            <tr>
              <td height="1" colspan="6"><table width="97%"  border="0" align="center" cellpadding="0" cellspacing="0"><tr><td background="{IMGDIR}row.gif" height="1"></td></tr></table></td>
            </tr>
			<!-- END findlist -->
            <tr align="center" valign="middle">
              <td height="35" colspan="6">			  {PAGELIST}</td>
            </tr>
          </table></td>
        </tr>
      </table>
      <table width="581" height="15"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="581" height="15" background="{IMGDIR}find/center_down.gif"></td>
        </tr>
      </table></td>
  </tr>
</table>
