<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="top">
    <td width="188" align="center">
	<table width="188"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="188" height="37" align="center" background="{IMGDIR}small_top.gif">用户信息</td>
      </tr>
      <tr>
        <td align="center" background="{IMGDIR}small_bg.gif">{USERINFO}</td>
      </tr>
      <tr>
        <td align="center"><img src="{IMGDIR}small_down.gif" width="188" height="11"></td>
      </tr>
	  <tr>
        <td width="188" height="37" align="center" background="{IMGDIR}small_top.gif">法规查询</td>
      </tr>
      <tr>
        <td align="center" background="{IMGDIR}small_bg.gif"><table border="0" align="center" cellpadding="0" cellspacing="1">
          <form action="search.php" method="post">
            <tr>
              <td colspan="2" align="center" background="images/xixian_line.gif"></td>
            </tr>
            <tr>
              <td align="center">关键字</td>
              <td>&nbsp;
                  <input name="title" type="text" id="title" size="10" class="input"></td>
            </tr>
            <tr>
              <td colspan="2" align="center" background="images/xixian_line.gif"></td>
            </tr>
            <tr align="left">
              <td colspan="2">包含内容
                  <input name="content" type="checkbox" id="content" value="1"></td>
            </tr>
            <tr>
              <td colspan="2" align="center" background="images/xixian_line.gif"></td>
            </tr>
            <tr align="center">
              <td colspan="2"><input name="submit_law" type="submit" class="input" id="submit_law" value=" 提交查询 "></td>
            </tr>
          </form>
        </table></td>
      </tr>
      <tr>
        <td align="center"><img src="{IMGDIR}small_down.gif" width="188" height="11"></td>
      </tr>
	  <tr>
        <td width="188" height="37" align="center" background="{IMGDIR}small_top.gif">广告招租</td>
      </tr>
      <tr>
        <td align="center" background="{IMGDIR}small_bg.gif">&nbsp;</td>
      </tr>
      <tr>
        <td align="center"><img src="{IMGDIR}small_down.gif" width="188" height="11"></td>
      </tr>
      <tr>
        <td align="center">&nbsp;</td>
      </tr>
    </table></td>
    <td align="center"><table width="581" height="36"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="581" height="36" background="{IMGDIR}law/law_index.gif"></td>
      </tr>
    </table>
      <table width="581" height="36"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="581" align="center" valign="top" background="{IMGDIR}job/center_bg.gif">
		  <table width="550"  border="0" cellpadding="0" cellspacing="0" class="td_four">
              <!-- BEGIN law -->
              <tr>
                <td height="25" align="left">&nbsp;&nbsp;<a href="{NEWS_LINK}" target="_blank">{NEWS_TITLE}</a>&nbsp;&nbsp;[{NEWS_DATE}]</td>
                <td align="right">&#35780;&#35770;:{DISCUSS}&nbsp;&nbsp;</td>
              </tr>
              <tr>
                <td height="1" colspan="2"><table width="97%"  border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td background="{IMGDIR}row.gif" height="1"></td>
                    </tr>
                </table></td>
              </tr>
              <!-- END law -->
              <tr align="center" valign="middle">
                <td height="35" colspan="2">{PAGELIST}</td>
              </tr>
          </table></td>
        </tr>
      </table>
      <table width="581" height="15"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="581" height="15" background="{IMGDIR}job/center_down.gif"></td>
        </tr>
      </table></td>
  </tr>
</table>
