<link href="../../../css/style.css" rel="stylesheet" type="text/css">
<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="top">
    <td width="188" align="center">
	<table width="188"  border="0" cellspacing="0" cellpadding="0">
	  <tr>
        <td width="188" height="37" align="center" background="{IMGDIR}small_top.gif">分类查询</td>
      </tr>
      <tr>
        <td align="center" background="{IMGDIR}small_bg.gif"><table width="110" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="3"></td>
          </tr>
          <tr>
            <td height="25"><img src="{IMGDIR}/search/dot.gif" width="11" height="10">&nbsp;&nbsp;&nbsp;<a href="?action=job">企 业 招 聘</a></td>
          </tr>
          <tr>
            <td height="1" background="{IMGDIR}/row.gif"></td>
          </tr>
          <tr>
            <td height="25"><img src="{IMGDIR}/search/dot.gif" width="11" height="10">&nbsp;&nbsp;&nbsp;<a href="?action=find">个 人 求 职</a></td>
          </tr>
          <tr>
            <td height="1" background="{IMGDIR}/row.gif"></td>
          </tr>
          <tr>
            <td height="25"><img src="{IMGDIR}/search/dot.gif" width="11" height="10">&nbsp;&nbsp;&nbsp;<a href="?action=hunterjob">猎 头 职 位</a> </td>
          </tr>
          <tr>
            <td height="1" background="{IMGDIR}/row.gif"></td>
          </tr>
          <tr>
            <td height="25"><img src="{IMGDIR}/search/dot.gif" width="11" height="10">&nbsp;&nbsp;&nbsp;<a href="?action=hunterfind">猎 头 人 才</a></td>
          </tr>
          <tr>
            <td height="1" background="{IMGDIR}/row.gif"></td>
          </tr>
          <tr>
            <td height="25"><img src="{IMGDIR}/search/dot.gif" width="11" height="10">&nbsp;&nbsp;&nbsp;<a href="?action=hunterinfo">猎 头 资 迅</a></td>
          </tr>
          <tr>
            <td height="1" background="{IMGDIR}/row.gif"></td>
          </tr>
          <tr>
            <td height="25"><img src="{IMGDIR}/search/dot.gif" width="11" height="10">&nbsp;&nbsp;&nbsp;<a href="?action=lesson">培 训 课 程</a></td>
          </tr>
          <tr>
            <td height="1" background="{IMGDIR}/row.gif"></td>
          </tr>
          <tr>
            <td height="25"><img src="{IMGDIR}/search/dot.gif" width="11" height="10">&nbsp;&nbsp;&nbsp;<a href="?action=school">培 训 学 校</a></td>
          </tr>
          <tr>
            <td height="1" background="{IMGDIR}/row.gif"></td>
          </tr>
          <tr>
            <td height="25"><img src="{IMGDIR}/search/dot.gif" width="11" height="10">&nbsp;&nbsp;&nbsp;<a href="?action=news">新 闻 动 态</a></td>
          </tr>
          <tr>
            <td height="1" background="{IMGDIR}/row.gif"></td>
          </tr>
          <tr>
            <td height="25"><img src="{IMGDIR}/search/dot.gif" width="11" height="10">&nbsp;&nbsp;&nbsp;<a href="?action=law">政 策 法 规</a></td>
          </tr>
          <tr>
            <td height="1" background="{IMGDIR}/row.gif"></td>
          </tr>
          <tr>
            <td height="25"><img src="{IMGDIR}/search/dot.gif" width="11" height="10">&nbsp;&nbsp;&nbsp;<a href="?action=way">求 职 攻 略</a></td>
          </tr>
          <tr>
            <td height="5"></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center"><img src="{IMGDIR}small_down.gif" width="188" height="11"></td>
      </tr>
    </table></td>
    <td align="center"><table width="581" height="36"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="581" height="36" background="{IMGDIR}search/center_top.gif"></td>
      </tr>
    </table>
      <table width="581" height="36"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="581" align="center" valign="top" background="{IMGDIR}search/center_bg.gif">
		  <table width="550" border="0" cellpadding="0" cellspacing="0" class="td_four">
		  <form action="search.php" method="post">
            <tr>
              <td height="266" align="center" valign="top">&nbsp;</td>
            </tr>
          </form>
		  </table>
		  </td>
        </tr>
      </table>
      <table width="581" height="15"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="581" height="15" background="{IMGDIR}search/center_down.gif"></td>
        </tr>
      </table></td>
  </tr>
</table>
