<link href="../../css/style.css" rel="stylesheet" type="text/css">
<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><TABLE ><TR><TD height="3"></TD></TR></TABLE>
		<table width="776" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="{IMGDIR}global/top.gif" width="776" height="4"></td>
        </tr>
        <tr>
          <td height="25" valign="bottom" background="{IMGDIR}global/mainbg.gif">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;◎&nbsp;&nbsp;&nbsp;&nbsp;{CONTENT_TITLE}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;简历查看 <font color="#FF0000">{CLICK}</font> 次&nbsp;&nbsp;&nbsp;&nbsp;</td>
          </tr>
        <tr>
          <td height="5" background="{IMGDIR}global/mainbg.gif"></td>
        </tr>
		<tr>
		  <td align="center" background="{IMGDIR}global/mainbg.gif">
		  <!-- start personal jianli -->
		  <table width="720" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center">
			  <table width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td width="189" align="left"><img src="{IMGDIR}jianli/left.gif" width="189" height="21"></td>
              <td align="center" background="{IMGDIR}jianli/center.gif">[ 基 本 信 息 ]</td>
              <td width="205" align="right"><img src="{IMGDIR}jianli/right.gif" width="205" height="21"></td>
              </tr>
              </table>
			  </td>
            </tr>
            <tr>
              <td bgcolor="#E1E2E5"><table width="100%"  border="0" cellspacing="1" cellpadding="0">
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center">真实姓名</td>
                  <td width="40%" height="25">&nbsp;&nbsp;{TRUENAME}</td>
                  <td width="40%" rowspan="9" align="center" valign="middle">{UPLOADED_IMG}</td>
                </tr>
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center">性&nbsp;&nbsp;&nbsp;&nbsp;别</td>
                  <td width="40%" height="25">&nbsp;&nbsp;{SEX}</td>
                  </tr>
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center">民&nbsp;&nbsp;&nbsp;&nbsp;族</td>
                  <td width="40%" height="25">&nbsp;&nbsp;{MINZU}</td>
                  </tr>
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center">出生年月</td>
                  <td width="40%" height="25">&nbsp;&nbsp;{BIRTH}</td>
                  </tr>
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center">户口所在</td>
                  <td width="40%" height="25">&nbsp;&nbsp;{HUKOU}</td>
                  </tr>
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center">居&nbsp;住&nbsp;地</td>
                  <td width="40%" height="25">&nbsp;&nbsp;{JUZHUDI}</td>
                  </tr>
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center">身&nbsp;份&nbsp;证</td>
                  <td width="40%" height="25">&nbsp;&nbsp;{SHENGFENGZHEN}</td>
                  </tr>
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center">婚姻状况</td>
                  <td width="40%" height="25">&nbsp;&nbsp;{MARRY}</td>
                  </tr>
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center">政治面貌</td>
                  <td width="40%" height="25">&nbsp;&nbsp;{SOCIAL}</td>
                  </tr>
              </table></td>
            </tr>
          </table>
		  <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td height="10"></td>
            </tr>
          </table>
		  <table width="720" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center">
			  <table width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td width="189" align="left"><img src="{IMGDIR}jianli/left.gif" width="189" height="21"></td>
              <td align="center" background="{IMGDIR}jianli/center.gif">[ 个 人 概 况 ]</td>
              <td width="205" align="right"><img src="{IMGDIR}jianli/right.gif" width="205" height="21"></td>
              </tr>
              </table>
			  </td>
            </tr>
            <tr>
              <td align="center" bgcolor="#E1E2E5"><table width="100%"  border="0" cellspacing="1" cellpadding="0">
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">身&nbsp;&nbsp;&nbsp;&nbsp;高</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;{HEIGHT}&nbsp;&nbsp;(cm)</td>
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">体&nbsp;&nbsp;&nbsp;&nbsp;重</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;{WEIGHT}&nbsp;&nbsp;(kg)</td>
                </tr>
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">视力状况</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;{SIGHT}</td>
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">工作年限</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;{JOBTONOW}&nbsp;&nbsp;(年)</td>
                </tr>
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">学&nbsp;&nbsp;&nbsp;&nbsp;历</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;{EDU}</td>
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">目前月薪</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;{SALARY}&nbsp;&nbsp;(元/月)</td>
                </tr>
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">毕业年份</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;{GRAEDUTIME}</td>
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">毕业学校</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;{GRAEDU}</td>
                </tr>
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">专业类别</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;{ZHUANYE}</td>
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">专业名称</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;{ZHUANYENAME}</td>
                </tr>
              </table></td>
            </tr>
          </table>
		  <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td height="10"></td>
            </tr>
          </table>
		  <table width="720" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center">
			  <table width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td width="189" align="left"><img src="{IMGDIR}jianli/left.gif" width="189" height="21"></td>
              <td align="center" background="{IMGDIR}jianli/center.gif">[ 联 系 方 式 ]</td>
              <td width="205" align="right"><img src="{IMGDIR}jianli/right.gif" width="205" height="21"></td>
              </tr>
              </table>
			  </td>
            </tr>
            <tr>
              <td bgcolor="#E1E2E5"><table width="100%"  border="0" cellspacing="1" cellpadding="0">
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">住宅电话</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;{PHONE}</td>
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">单位电话</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;{COMPHONE}</td>
                </tr>
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">手&nbsp;&nbsp;&nbsp;&nbsp;机</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;{HANDPHONE}</td>
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">E - mail </td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;<a href="mailto:{EMAIL}">{EMAIL}</a></td>
                </tr>
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">QQ\ICQ\MSN</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;{QQ}</td>
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">个人主页</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;<a href="{HOMEPAGE}" target="_blank">{HOMEPAGE}</a></td>
                </tr>
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">通讯地址</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;{ADDRESS}</td>
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">邮政编码</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;{YOUBIAN}</td>
                </tr>
              </table></td>
            </tr>
          </table>
		  <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td height="10"></td>
            </tr>
          </table>
		  <table width="720" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center">
			  <table width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td width="189" align="left"><img src="{IMGDIR}jianli/left.gif" width="189" height="21"></td>
              <td align="center" background="{IMGDIR}jianli/center.gif">[ 求 职 意 向 ]</td>
              <td width="205" align="right"><img src="{IMGDIR}jianli/right.gif" width="205" height="21"></td>
              </tr>
              </table>
			  </td>
            </tr>
            <tr>
              <td bgcolor="#E1E2E5"><table width="100%"  border="0" cellspacing="1" cellpadding="0">
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">求职性质</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;{JOBPRO}</td>
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">薪水要求</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;{FORMONEY}</td>
                </tr>
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">行业要求</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;{FORHY}</td>
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">职能职位</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;<a href="mailto:{EMAIL}">{FORPOS}</a></td>
                </tr>
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">公司性质</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;{COMPRO}</td>
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">工作地点</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;<a href="{HOMEPAGE}" target="_blank">{WORKADDR}</a></td>
                </tr>
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">住房要求</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;{FORHOUSE}</td>
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">离职所需时间</td>
                  <td width="30%" height="25" bgcolor="#FFFFFF">&nbsp;&nbsp;{LEAVEJOB}</td>
                </tr>
              </table></td>
            </tr>
          </table>
		  <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td height="10"></td>
            </tr>
          </table>
		  <table width="720" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center">
			  <table width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td width="189" align="left"><img src="{IMGDIR}jianli/left.gif" width="189" height="21"></td>
              <td align="center" background="{IMGDIR}jianli/center.gif">[ 工 作 经 历 ]</td>
              <td width="205" align="right"><img src="{IMGDIR}jianli/right.gif" width="205" height="21"></td>
              </tr>
              </table>
			  </td>
            </tr>
            <tr>
              <td bgcolor="#E1E2E5"><table width="100%"  border="0" cellspacing="1" cellpadding="0">
                <tr>
                  <td align="center" bgcolor="#FFFFFF"><table width="98%"  border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="5"></td>
                    </tr>
                    <tr>
                      <td>{WORKJINGLI}</td>
                    </tr>
                    <tr>
                      <td height="5"></td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
            </tr>
          </table>
		  <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td height="10"></td>
            </tr>
          </table>
		  <table width="720" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center">
			  <table width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td width="189" align="left"><img src="{IMGDIR}jianli/left.gif" width="189" height="21"></td>
              <td align="center" background="{IMGDIR}jianli/center.gif">[ <FONT color=#000000>语言/教育/培训</FONT> ]</td>
              <td width="205" align="right"><img src="{IMGDIR}jianli/right.gif" width="205" height="21"></td>
              </tr>
              </table>
			  </td>
            </tr>
            <tr>
              <td bgcolor="#E1E2E5"><table width="100%"  border="0" cellspacing="1" cellpadding="0">
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">语言能力</td>
                  <td height="60" align="center" bgcolor="#FFFFFF"><table width="97%"  border="0" align="center" cellpadding="0" cellspacing="0" class="td_four">
                    <tr align="center" bgcolor="#e1e2e5">
                      <td width="50%" height="25">外语语种</td>
                      <td width="50%" height="25">外语能力</td>
                    </tr>
                    <tr align="center">
                      <td width="50%" height="25">{ENGNAME}</td>
                      <td width="50%" height="25">{ENGNENGLI}</td>
                    </tr>
                  </table></td>
                </tr>
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center" bgcolor="#FFFFFF">教育经历</td>
                  <td height="25" align="center"><table width="97%"  border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="5"></td>
                    </tr>
                    <tr>
                      <td>{EDUJINGLI}</td>
                    </tr>
                    <tr>
                      <td height="5"></td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
            </tr>
          </table>
		  <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td height="10"></td>
            </tr>
          </table>
		  <table width="720" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center">
			  <table width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td width="189" align="left"><img src="{IMGDIR}jianli/left.gif" width="189" height="21"></td>
              <td align="center" background="{IMGDIR}jianli/center.gif"><FONT color=#000000>[ 所 获 证 书 ]</FONT></td>
              <td width="205" align="right"><img src="{IMGDIR}jianli/right.gif" width="205" height="21"></td>
              </tr>
              </table>
			  </td>
            </tr>
            <tr>
              <td bgcolor="#E1E2E5"><table width="100%"  border="0" cellspacing="1" cellpadding="0">
                <tr>
                  <td align="center" bgcolor="#FFFFFF">
				  	<table width="98%"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="5"></td>
                      </tr>
                      <tr>
                        <td>{ZHENSHU}</td>
                      </tr>
                      <tr>
                        <td height="5"></td>
                      </tr>
                  </table></td>
                </tr>
              </table></td>
            </tr>
          </table>
		  <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td height="10"></td>
            </tr>
          </table>
		  <table width="720" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center">
			  <table width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td width="189" align="left"><img src="{IMGDIR}jianli/left.gif" width="189" height="21"></td>
              <td align="center" background="{IMGDIR}jianli/center.gif"><FONT color=#000000>[ IT 相 关 </FONT>]</td>
              <td width="205" align="right"><img src="{IMGDIR}jianli/right.gif" width="205" height="21"></td>
              </tr>
              </table>
			  </td>
            </tr>
            <tr>
              <td bgcolor="#E1E2E5"><table width="100%"  border="0" cellspacing="1" cellpadding="0">
                <tr>
                  <td align="center" bgcolor="#FFFFFF"><table width="98%"  border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="5"></td>
                    </tr>
                    <tr>
                      <td>{ITABLE}</td>
                    </tr>
                    <tr>
                      <td height="5"></td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
            </tr>
          </table>
		  <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td height="10"></td>
            </tr>
          </table>
		  <table width="720" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center">
			  <table width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td width="189" align="left"><img src="{IMGDIR}jianli/left.gif" width="189" height="21"></td>
              <td align="center" background="{IMGDIR}jianli/center.gif">[ 学 生 相 关 ]</td>
              <td width="205" align="right"><img src="{IMGDIR}jianli/right.gif" width="205" height="21"></td>
              </tr>
              </table>
			  </td>
            </tr>
            <tr>
              <td bgcolor="#E1E2E5"><table width="100%"  border="0" cellspacing="1" cellpadding="0">
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" align="center">所获奖励</td>
                  <td height="25" align="left" bgcolor="#FFFFFF"><table width="97%"  border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="5"></td>
                    </tr>
                    <tr>
                      <td>{JIANGLI}</td>
                    </tr>
                    <tr>
                      <td height="5"></td>
                    </tr>
                  </table></td>
                </tr>
                <tr bgcolor="#FFFFFF">
                  <td width="20%" height="25" rowspan="3" align="center">在校实践</td>
                  <td height="25" align="left" bgcolor="#FFFFFF">&nbsp;&nbsp;实践名称:{SHIJIANNAME}</td>
                </tr>
                <tr bgcolor="#FFFFFF">
                  <td height="25" align="left" bgcolor="#FFFFFF">&nbsp;&nbsp;实践时间:{SHIJIANTIME}</td>
                </tr>
                <tr bgcolor="#FFFFFF">
                  <td height="25" align="center" bgcolor="#FFFFFF"><table width="97%"  border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="5"></td>
                    </tr>
                    <tr>
                      <td>{SHIJIANTEXT}</td>
                    </tr>
                    <tr>
                      <td height="5"></td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
            </tr>
          </table>
		  <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td height="10"></td>
            </tr>
          </table>
		  <table width="720" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center">
			  <table width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td width="189" align="left"><img src="{IMGDIR}jianli/left.gif" width="189" height="21"></td>
              <td align="center" background="{IMGDIR}jianli/center.gif">[ 个 人 特 长 ] </td>
              <td width="205" align="right"><img src="{IMGDIR}jianli/right.gif" width="205" height="21"></td>
              </tr>
              </table>
			  </td>
            </tr>
            <tr>
              <td bgcolor="#E1E2E5"><table width="100%"  border="0" cellspacing="1" cellpadding="0">
                <tr>
                  <td align="center" bgcolor="#FFFFFF"><table width="98%"  border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="5"></td>
                    </tr>
                    <tr>
                      <td>{TECHANG}</td>
                    </tr>
                    <tr>
                      <td height="5"></td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
            </tr>
          </table>
		  <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td height="10"></td>
            </tr>
          </table>
		  <table width="720" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center">
			  <table width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td width="189" align="left"><img src="{IMGDIR}jianli/left.gif" width="189" height="21"></td>
              <td align="center" background="{IMGDIR}jianli/center.gif">[ 自 我 评 价 ]</td>
              <td width="205" align="right"><img src="{IMGDIR}jianli/right.gif" width="205" height="21"></td>
              </tr>
              </table>
			  </td>
            </tr>
            <tr>
              <td bgcolor="#E1E2E5"><table width="100%"  border="0" cellspacing="1" cellpadding="0">
                <tr>
                  <td align="center" bgcolor="#FFFFFF"><table width="98%"  border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="5"></td>
                    </tr>
                    <tr>
                      <td>{PINGJIA}</td>
                    </tr>
                    <tr>
                      <td height="5"></td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
            </tr>
          </table>
		  <!-- end personal jianli-->
		  </td>
	    </tr>
		<tr>
          <td height="15" align="center" background="{IMGDIR}global/mainbg.gif"></td>
        </tr>
        <tr>
          <td><img src="{IMGDIR}global/down.gif" width="776" height="4"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>