<link href="../../css/style.css" rel="stylesheet" type="text/css">
<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><TABLE ><TR><TD height="3"></TD></TR></TABLE>
		<table width="776" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="{IMGDIR}global/top.gif" width="776" height="4"></td>
        </tr>
        <tr>
          <td height="25" valign="bottom" background="{IMGDIR}global/mainbg.gif">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;◎&nbsp;&nbsp;&nbsp;&nbsp;{TITLE}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;查看 <font color="#FF0000">{CLICK}</font> 次&nbsp;&nbsp;&nbsp;&nbsp;</td>
          </tr>
        <tr>
          <td height="5" background="{IMGDIR}global/mainbg.gif"></td>
        </tr>
		<tr>
		  <td align="center" background="{IMGDIR}global/mainbg.gif">
		  <!-- start personal jianli -->
		  <table width="720" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center">
			  <table width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td width="189" align="left"><img src="{IMGDIR}jianli/left.gif" width="189" height="21"></td>
              <td align="center" background="{IMGDIR}jianli/center.gif">&nbsp;</td>
              <td width="205" align="right"><img src="{IMGDIR}jianli/right.gif" width="205" height="21"></td>
              </tr>
              </table>
			  </td>
            </tr>
            <tr>
              <td bgcolor="#E1E2E5"><TABLE width=100% border=0 align=center cellPadding=4 cellSpacing=1 class="biaodanbiankuang">
                <TBODY>
                  <TR bgcolor="#FFFFFF">
                    <TD width="20%" height="25" align=middle><div align="center">标 &nbsp;&nbsp;&nbsp;题</div></TD>
                    <TD height="25" colSpan=2>&nbsp;{TITLE}</TD>
                  </TR>
                  <TR bgcolor="#FFFFFF">
                    <TD width="20%" height="25" align=center>姓&nbsp;&nbsp;&nbsp;&nbsp;名</TD>
                    <TD height="25" colSpan=2>&nbsp;{TRUENAME}</TD>
                  </TR>
                  <TR bgcolor="#FFFFFF">
                    <TD width="20%" height="25" align=center>性&nbsp;&nbsp;&nbsp;&nbsp;别</TD>
                    <TD height="25" colSpan=2>&nbsp;{SEX}</TD>
                  </TR>
                  <TR bgcolor="#FFFFFF">
                    <TD width="20%" height="25" align=center>学&nbsp;&nbsp;&nbsp;&nbsp;历</TD>
                    <TD height="25" colSpan=2>&nbsp;{EDU}</TD>
                  </TR>
                  <TR bgcolor="#FFFFFF">
                    <TD width="20%" height="25" align=center>专&nbsp;&nbsp;&nbsp;&nbsp;业</TD>
                    <TD height="25" colSpan=2>&nbsp;{DEPART}</TD>
                  </TR>
                  <TR bgcolor="#FFFFFF">
                    <TD width="20%" height="25" align=center>现居住地</TD>
                    <TD height="25" colSpan=2>&nbsp;{LIVING}</TD>
                  </TR>
                  <TR bgcolor="#FFFFFF">
                    <TD width="20%" height="25" align=center>目前职业</TD>
                    <TD height="25" colSpan=2>&nbsp;{WORK}</TD>
                  </TR>
                  <TR bgcolor="#FFFFFF">
                    <TD width="20%" height="25" align=center>家教说明</TD>
                    <TD height="25" colSpan=2><table width="98%"  border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td class="text_style">{CONTEXT}</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                    </table></TD>
                  </TR>
                  <TR bgcolor="#FFFFFF">
                    <TD width="20%" height="25" align=center>联系电话</TD>
                    <TD height="25" colSpan=2>&nbsp;{PHONE} &nbsp;</TD>
                  </TR>
                  <TR bgcolor="#FFFFFF">
                    <TD width="20%" height="25" align=center>E-mail</TD>
                    <TD height="25" colSpan=2>&nbsp;{EMAIL} &nbsp;</TD>
                  </TR>
                  <TR bgcolor="#FFFFFF">
                    <TD width="20%" height="25" align=middle><div align="center">发布时间</div></TD>
                    <TD height="25" colSpan=2>&nbsp;{ADDTIME}&nbsp;</TD>
                  </TR>
                  <TR bgcolor="#FFFFFF">
                    <TD width="20%" height="25" align=center>截至时间
                        <div align="center"></div></TD>
                    <TD height="25" colSpan=2>&nbsp;{LOSETIME}</TD>
                  </TR>
                </TBODY>
              </TABLE></td>
            </tr>
          </table>
		  <!-- end personal jianli-->
		  </td>
	    </tr>
		<tr>
          <td height="15" align="center" background="{IMGDIR}global/mainbg.gif"></td>
        </tr>
        <tr>
          <td><img src="{IMGDIR}global/down.gif" width="776" height="4"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>