<link href="../../css/style.css" rel="stylesheet" type="text/css">
<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="top">
    <td width="188" align="center">{COMCP}	</td>
    <td align="center"><table width="581" height="36"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="581" height="36" background="{IMGDIR}control/putcomhunter.gif"></td>
      </tr>
    </table>
      <table width="581" height="36"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="581" align="center" valign="middle" background="{IMGDIR}control/center_bg.gif"><table width="550" border="0" align="center" cellpadding="0" cellspacing="0" class="td_four">
            <form action="company.php?action=managehunter" method="post">
              <tr>
                <td width="25%" height="30" align="center">职位名称</td>
                <td width="75%"><input name="job" type="text" class="input" id="job" value="{JOB}" size="50" maxlength="50">
                  <input name="job_id" type="hidden" id="job_id" value="{JOB_ID}"></td>
              </tr>
              <tr align="center">
                <td height="1" colspan="2"><table width="500" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="1" background="{IMGDIR}row.gif"></td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td width="25%" height="30" align="center">工作地点</td>
                <td><input name="job_address" type="text" class="input" id="job_address" value="{JOB_ADDRESS}" size="50" maxlength="100">
                  <input name="job_add" type="hidden" id="job_add" value="{JOB_ADD}">
                  <input name="comhunter_folder" type="hidden" id="comhunter_folder" value="{COMHUNTER_FOLDER}">
                  <input name="click" type="hidden" id="click" value="{CLICK}"></td>
              </tr>
              <tr align="center">
                <td height="1" colspan="2"><table width="500" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="1" background="{IMGDIR}row.gif"></td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td width="25%" height="30" align="center">有效时间</td>
                <td><select name="days" id="days">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30" selected>30</option>
          <option value="31">31</option>
          <option value="32">32</option>
          <option value="33">33</option>
          <option value="34">34</option>
          <option value="35">35</option>
          <option value="36">36</option>
          <option value="37">37</option>
          <option value="38">38</option>
          <option value="39">39</option>
          <option value="40">40</option>
          <option value="41">41</option>
          <option value="42">42</option>
          <option value="43">43</option>
          <option value="44">44</option>
          <option value="45">45</option>
          <option value="46">46</option>
          <option value="47">47</option>
          <option value="48">48</option>
          <option value="49">49</option>
          <option value="50">50</option>
          <option value="51">51</option>
          <option value="52">52</option>
          <option value="53">53</option>
          <option value="54">54</option>
          <option value="55">55</option>
          <option value="56">56</option>
          <option value="57">57</option>
          <option value="58">58</option>
          <option value="59">59</option>
          <option value="60">60</option>
                    </select>
                  &nbsp;&nbsp;(截至 :&nbsp;&nbsp;{JOB_LOSE})</td>
              </tr>
              <tr align="center">
                <td height="1" colspan="2"><table width="500" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="1" background="{IMGDIR}row.gif"></td>
                    </tr>
                </table></td>
              </tr>
			  <tr>
                <td width="25%" height="30" align="center">工作说明</td>
                <td height="119"><textarea name="job_text" cols="80" rows="8" wrap="VIRTUAL" class="input" id="job_text">{JOB_TEXT}</textarea></td>
              </tr>
			  <tr align="center">
                <td height="1" colspan="2"><table width="500" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="1" background="{IMGDIR}row.gif"></td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td height="35" colspan="2" align="center"><input name="submit_edithunter" type="submit" class="input" id="submit_edithunter" value=" 编 辑 ">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="reset" type="reset" class="input" id="reset" value=" 重  设 ">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input name="Submit" type="submit" class="input" onClick="javascript:histoy.go(-1)" value=" 返 回 "></td>
              </tr>
            </form>
          </table></td>
        </tr>
      </table>
      <table width="581" height="15"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="581" height="15" background="{IMGDIR}control/center_down.gif"></td>
        </tr>
      </table></td>
  </tr>
</table>
