<link href="../../css/style.css" rel="stylesheet" type="text/css">

<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="top">
    <td width="188" align="center">{PERCP}	</td>
    <td align="center"><table width="581" height="36"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="581" height="36" background="{IMGDIR}control/otherinfo.gif"></td>
      </tr>
    </table>
      <table width="581" height="36"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="581" align="center" valign="middle" background="{IMGDIR}control/center_bg.gif">
		  <table width="550" border="0" cellpadding="0" cellspacing="0" class="td_four">
		  <form action="personal.php?action=otherinfo" method="post">
            <tr align="center">
              <td width="30%" height="30">外语语种</td>
              <td width="30%" align="left"><select name="engname" class="input" id="engname">{SELECT_ENG}</select></td>
              <td width="30%">外语能力</td>
              <td width="30%" align="left"><select name="engnengli" class="input" id="engnengli">{SELECT_ENGABLE}</select></td>
            </tr>
            <tr align="center">
              <td colspan="4" height="1">
			  <table width="500" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td height="1" background="{IMGDIR}row.gif"></td>
              </tr>
              </table>
			  </td>
            </tr>
            <tr align="center">
              <td width="30%" height="30">教育经历</td>
              <td colspan="3" align="left"><textarea name="edujingli" cols="80" rows="5" wrap="VIRTUAL" class="input" id="edujingli">{EDUJINGLI}</textarea></td>
              </tr>
            <tr align="center">
              <td colspan="4" height="1">
			  <table width="500" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td height="1" background="{IMGDIR}row.gif"></td>
              </tr>
              </table>
			  </td>
            </tr>
            <tr align="center">
              <td width="30%" height="30">所获证书</td>
              <td colspan="3" align="left"><textarea name="zhengshu" cols="80" rows="5" wrap="VIRTUAL" class="input" id="zhengshu">{ZHENGSHU}</textarea></td>
              </tr>
            <tr align="center">
              <td colspan="4" height="1">
			  <table width="500" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td height="1" background="{IMGDIR}row.gif"></td>
              </tr>
              </table>
			  </td>
            </tr>
            <tr align="center">
              <td width="30%" height="30">IT 技能</td>
              <td colspan="3" align="left"><textarea name="itable" cols="80" rows="5" wrap="VIRTUAL" class="input" id="itable">{ITABLE}</textarea></td>
              </tr>
            <tr align="center">
              <td colspan="4" height="1">
			  <table width="500" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td height="1" background="{IMGDIR}row.gif"></td>
              </tr>
              </table>
			  </td>
            </tr>
            <tr align="center">
              <td width="30%" height="30">所获奖励</td>
              <td colspan="3" align="left"><textarea name="jiangli" cols="80" rows="5" wrap="VIRTUAL" class="input" id="jiangli">{JIANGLI}</textarea></td>
              </tr>
            <tr align="center">
              <td colspan="4" height="1">
			  <table width="500" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td height="1" background="{IMGDIR}row.gif"></td>
              </tr>
              </table>
			  </td>
            </tr>
            <tr align="center">
              <td width="30%" height="30">教育实践</td>
              <td width="30%" align="left"><input name="shijianname" type="text" class="input" id="shijianname" value="{SHIJIANNAME}"></td>
              <td width="20%">实践时间</td>
              <td width="30%" align="left"><input name="shijiankind" type="text" class="input" id="shijiankind" value="{SHIJIANKIND}"></td>
            </tr>
            <tr align="center">
              <td colspan="4" height="1">
			  <table width="500" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td height="1" background="{IMGDIR}row.gif"></td>
              </tr>
              </table>
			  </td>
            </tr>
            <tr align="center">
              <td width="30%" height="30">实践简述</td>
              <td colspan="3" align="left"><textarea name="shijianjianjie" cols="80" rows="5" wrap="VIRTUAL" class="input" id="shijianjianjie">{SHIJIANJIANJIE}</textarea></td>
              </tr>
            <tr align="center">
              <td colspan="4" height="1">
			  <table width="500" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td height="1" background="{IMGDIR}row.gif"></td>
              </tr>
              </table>
			  </td>
            </tr>
            <tr align="center">
              <td width="30%" height="30">个人特长</td>
              <td colspan="3" align="left"><textarea name="techang" cols="80" rows="5" wrap="VIRTUAL" class="input" id="techang">{TECHANG}</textarea></td>
              </tr>
            <tr align="center">
              <td colspan="4" height="1">
			  <table width="500" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td height="1" background="{IMGDIR}row.gif"></td>
              </tr>
              </table>
			  </td>
            </tr>
            <tr align="center">
              <td width="30%" height="30">自我评价</td>
              <td colspan="3" align="left"><textarea name="pingjia" cols="80" rows="5" wrap="VIRTUAL" class="input" id="pingjia">{PINGJIA}</textarea></td>
              </tr>
            <tr align="center">
              <td colspan="4" height="1">
			  <table width="500" border="0" cellspacing="0" cellpadding="0">
              <tr>
              <td height="1" background="{IMGDIR}row.gif"></td>
              </tr>
              </table>
			  </td>
            </tr>
            <tr align="center">
              <td height="30" colspan="4"><input name="save" type="submit" class="input" id="save" value=" 保 存 ">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input name="reset" type="reset" class="input" id="reset" value=" 重 设 ">			    </td>
           </tr>
          </form>
		  </table>
          </td>
        </tr>
      </table>
      <table width="581" height="15"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="581" height="15" background="{IMGDIR}control/center_down.gif"></td>
        </tr>
      </table></td>
  </tr>
</table>
