<link href="../../css/style.css" rel="stylesheet" type="text/css">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table><tr><td height="5"></td></tr></table>
		<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="{IMGDIR}global/top.gif" width="776" height="4"></td>
        </tr>
        <tr>
          <td height="25" valign="bottom" background="{IMGDIR}global/mainbg.gif">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;◎&nbsp;&nbsp;&nbsp;&nbsp;会员注册</td>
        </tr>
        <tr>
          <td align="center" background="{IMGDIR}global/mainbg.gif"><hr width="94%" size="1" color="#CCCCCC"></td>
        </tr>
		<tr>
		  <td align="center" background="{IMGDIR}global/mainbg.gif">
		  <table width="95%"  border="0" align="center" cellpadding="0" cellspacing="0">
		  <form action="register.php" method="post">
            <tr>
              <td width="25%" height="30">&nbsp;&nbsp;用 户 名</td>
              <td width="75%" height="25"><input name="username" type="text" class="input" id="username" size="50" maxlength="50"></td>
            </tr>
            <tr>
              <td height="1" colspan="2">
			  <table width="98%"  border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="2" background="{IMGDIR}row.gif"></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="30">&nbsp;&nbsp;用户类型</td>
              <td height="25"><input name="userkind" type="radio" value="{KIND_MEM}" checked>
                个人用户&nbsp;&nbsp;&nbsp;&nbsp;
                <input name="userkind" type="radio" value="{KIND_COM}">
                企业用户</td>
            </tr>
            <tr>
              <td height="1" colspan="2">
			  <table width="98%"  border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="2" background="{IMGDIR}row.gif"></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="30">&nbsp;&nbsp;登陆密码</td>
              <td height="25"><input name="password" type="password" class="input" id="password" size="50"></td>
            </tr>
            <tr>
              <td height="1" colspan="2">
			  <table width="98%"  border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="2" background="{IMGDIR}row.gif"></td>
                </tr>
              </table></td>
              </tr>
            <tr>
            <tr>
              <td height="30">&nbsp;&nbsp;验证密码</td>
              <td height="25"><input name="repassword" type="password" class="input" id="repassword" size="50"></td>
            </tr>
            <tr>
              <td height="1" colspan="2">
			  <table width="98%"  border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="2" background="{IMGDIR}row.gif"></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="30">&nbsp;&nbsp;E - mail</td>
              <td height="25"><input name="email" type="text" class="input" id="email" size="50"></td>
            </tr>
            <tr>
              <td height="1" colspan="2">
			  <table width="98%"  border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="2" background="{IMGDIR}row.gif"></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="30">&nbsp;&nbsp;密码保护问题</td>
              <td height="25"><input name="question" type="text" class="input" id="question" size="80"></td>
            </tr>
            <tr>
              <td height="1" colspan="2">
			  <table width="98%"  border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="2" background="{IMGDIR}row.gif"></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="30">&nbsp;&nbsp;问题回答</td>
              <td height="25"><input name="answer" type="text" class="input" id="answer" size="80"></td>
            </tr>
            <tr>
              <td height="1" colspan="2">
			  <table width="98%"  border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="2" background="{IMGDIR}row.gif"></td>
                </tr>
              </table></td>
            </tr>
            <tr align="center">
              <td height="30" colspan="2"><input name="submit_register" type="submit" class="input" id="submit_register" value=" 注  册 ">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input name="Submit" type="reset" class="input" value=" 重  设 "></td>
              </tr>
          </form>
		  </table></td>
	    </tr>
        <tr>
          <td><img src="{IMGDIR}global/down.gif" width="776" height="4"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>