<link href="../../css/style.css" rel="stylesheet" type="text/css">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table><tr><td height="5"></td></tr></table>
		<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="{IMGDIR}global/top.gif" width="776" height="4"></td>
        </tr>
        <tr>
          <td height="25" valign="bottom" background="{IMGDIR}global/mainbg.gif">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;◎&nbsp;&nbsp;&nbsp;&nbsp;找 回 密 码</td>
        </tr>
        <tr>
          <td height="14" align="center" background="{IMGDIR}global/mainbg.gif"><hr width="94%" size="1" color="#CCCCCC"></td>
        </tr>
		<tr>
		  <td align="center" background="{IMGDIR}global/mainbg.gif">
		  <table width="95%"  border="0" align="center" cellpadding="0" cellspacing="0">
		  <form action="lose_pwd.php" method="post">
            <tr>
              <td width="25%" height="30">&nbsp;&nbsp;用&nbsp;户&nbsp;名</td>
              <td width="75%" height="25"><input name="username" type="text" class="input" id="username" size="50" maxlength="50"></td>
            </tr>
            <tr>
              <td height="1" colspan="2">
			  <table width="98%"  border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="2" background="{IMGDIR}row.gif"></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="30">&nbsp;&nbsp;E - mail </td>
              <td height="25"><input name="email" type="text" class="input" id="email" size="50"></td>
            </tr>
            <tr>
              <td height="1" colspan="2">
			  <table width="98%"  border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="2" background="{IMGDIR}row.gif"></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="30">&nbsp;&nbsp;密码保护问题</td>
              <td height="25"><input name="question" type="text" class="input" id="question" size="80"></td>
            </tr>
            <tr>
              <td height="1" colspan="2">
			  <table width="98%"  border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="2" background="{IMGDIR}row.gif"></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="30">&nbsp;&nbsp;问题回答</td>
              <td height="25"><input name="answer" type="text" class="input" id="answer" size="80"></td>
            </tr>
            <tr>
              <td height="1" colspan="2">
			  <table width="98%"  border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="2" background="{IMGDIR}row.gif"></td>
                </tr>
              </table></td>
            </tr>
            <tr align="center">
              <td height="30" colspan="2"><input name="submit_question" type="submit" class="input" id="submit_question" value=" 安全问题方式 ">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input name="submit_email" type="submit" class="input" id="submit_email" value=" E-mail 方式 "></td>
              </tr>
          </form>
		  </table></td>
	    </tr>
        <tr>
          <td><img src="{IMGDIR}global/down.gif" width="776" height="4"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>