<link href="../../css/style.css" rel="stylesheet" type="text/css">
<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="top">
    <td width="188" align="center">{COMCP}	</td>
    <td align="center"><table width="581" height="36"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="581" height="36" background="{IMGDIR}/control/control.gif">&nbsp;</td>
      </tr>
    </table>
      <table width="581" height="36"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="581" align="center" valign="middle" background="{IMGDIR}control/center_bg.gif"><table width="550"  border="0" cellspacing="0" cellpadding="0" class="td_four">
            <tr>
              <td height="5" colspan="2" valign="middle"></td>
            </tr>
            <tr>
              <td height="28" colspan="2" valign="middle">&nbsp;&nbsp;您好 <b><font color="#ff0000">{PERSONAL_USER}</font></b>&nbsp;<a href="login.php?action=loginout"><font color="#6699cc">[退出]</font></a>&nbsp;, 欢迎访问&nbsp;<b><font color="#ff0000">{WANE_WEBSITE}</font></b></td>
            </tr>
            <tr>
              <td height="28" colspan="2" valign="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;此次是您第 <b><font color="#ff0000">{WANE_LOGINS}</font></b> 次登陆,以下是您在本站的概况信息 .</td>
            </tr>
            <tr>
              <td width="146" rowspan="9" align="center" valign="middle">{WANE_IMG}</td>
              <td width="404" height="5" valign="middle"></td>
            </tr>
            <tr>
              <td height="23" valign="middle">&nbsp;&nbsp;您的 收信箱 共有 <b><font color="#6699cc">{WANE_REC}</font></b> 封信件 , 其中有新信件&nbsp;<b><font color="#ff0000">{WANE_REC_NEW}</font></b>&nbsp;封 ; </td>
            </tr>
            <tr>
              <td height="23" valign="middle">&nbsp;&nbsp;您的 发信箱 共有 <b><font color="#6699cc">{WANE_SEND}</font></b> 封信件 , 其中 <b><font color="#ff0000">{WANE_SEND_OLD}</font></b> 封已被阅读 </td>
            </tr>
            <tr>
              <td height="23" valign="middle">&nbsp;&nbsp;您的 收藏夹 共有 <b><font color="#ff0000">{WANE_FAVOURITE}</font></b> 位人才 ; </td>
            </tr>
            <tr>
              <td height="10" valign="middle"></td>
            </tr>
            <tr>
              <td height="23" valign="middle">&nbsp;&nbsp;你的 猎头收信箱 共有 <b><font color="#6699cc">{WANE_HREC}</font></b> 封信件 , 其中有新信件 <b><font color="#ff0000">{WANE_HREC_NEW}</font></b> 封 ; </td>
            </tr>
            <tr>
              <td height="23" valign="middle">&nbsp;&nbsp;你的 猎头发信箱 共有 <b><font color="#6699cc">{WANE_HSEND}</font></b> 封信件 , 其中 <b><font color="#ff0000">{WANE_HSEND_OLD}</font></b> 封已被阅读 ; </td>
            </tr>
            <tr>
              <td height="23" valign="middle">&nbsp;&nbsp;您的 猎头收藏夹 共有 <b><font color="#ff0000">{WANE_HFAVOURITE}</font></b> 份猎头人才</td>
            </tr>
            <tr>
              <td height="10" valign="middle"></td>
            </tr>
            <tr>
              <td width="146" align="center" valign="middle"><a href="company.php?action=myphoto"><b><font color="#ff0000">更新照片</font></b></a></td>
              <td height="28" valign="middle">&nbsp;&nbsp;您的简历最后更新 <b><font color="#ff0000">{WANE_UPDATE}</font></b> 被查看 <b><font color="#6699cc">{WANE_CLICK}</font></b> 次 ; </td>
            </tr>
            <tr>
              <td height="28" colspan="2" valign="middle">&nbsp;</td>
            </tr>
            <tr>
              <td height="28" colspan="2" valign="middle"><table width="100%" height="20"  border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="50%" height="20">&nbsp;&nbsp;您的简历完成 <b><font color="#6699cc">{JIANLI_PERCENT}</font></b> </td>
                    <td width="2%" height="20" bgcolor="#ff0000">&nbsp;</td>
                    <td width="23%" height="20">&nbsp;全部信息</td>
                    <td width="2%" height="20" bgcolor="#6699cc">&nbsp;</td>
                    <td width="23%" height="20">&nbsp;已完成信息</td>
                  </tr>
              </table></td>
            </tr>
            <tr>
              <td height="28" colspan="2" valign="middle"><table width="96%" height="10"  border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="10" bgcolor="#ff0000"><table width="{JIANLI_PERCENT}" height="10"  border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td bgcolor="#6699cc"></td>
                        </tr>
                    </table></td>
                  </tr>
              </table></td>
            </tr>
            <tr>
              <td height="28" colspan="2" valign="middle">&nbsp;</td>
            </tr>
          </table></td>
        </tr>
      </table>
      <table width="581" height="15"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="581" height="15" background="{IMGDIR}control/center_down.gif"></td>
        </tr>
      </table></td>
  </tr>
</table>
